# Day2 Workshop Orchestration
# this version number is for compose, not the orchestration
version: '3'
services:
  broker:
    image: eclipse-mosquitto
    ports:
      - '1883'
    logging:
      driver: 'none'

  microbit:
    image: lisaong/rpi-buster-pyota:1.0
    volumes:
      - ..:/code
    privileged: true
    depends_on:
      - broker
    command: >
      sh -c "cd /code/feeder 
      && python3 microbit_to_mqtt.py ${MICROBIT_PORT} --hostname broker"

  nutrient:
    image: lisaong/rpi-buster-pyota:1.0
    volumes:
      - ..:/code
    depends_on:
      - broker
    command: >
      sh -c "cd /code/feeder 
      && python3 nutrient_microservice.py ${MICROBIT_PORT} --hostname broker"

  iota:
    image: lisaong/rpi-buster-pyota:1.0
    volumes:
      - ..:/code
    depends_on:
      - broker
    environment:
      IOTA_TANGLE_URL: ${IOTA_TANGLE_URL}
    command: >
      sh -c "cd /code/feeder 
      && python3 iota_microservice.py ${MICROBIT_PORT} --hostname broker"
